This is a EXAMPLE test data file.
Action : QA/Dev needs to follow this as a reference to create env.json file on their own.
Reason : Instead of pushing env.json file to git for security reasons,we can create env.json file from EXAMPLE file



{
    "amount":"FLOAT",
    "donationType":"Yes, this donation is my own money",
    "motivation": "In memory of someone",
    "cancerType": "Bowel cancer",      
    "firstname":"STRING",
    "lastname":"STRING",
    "email":"EMAIL",
    "phone":"PHONE",
    "homeAddress":{
       "address1":"STRING",
       "address2":"STRING",
       "address3":"STRING",
       "town":"STRING",
       "postcode":"STRING",
       "country":"STRING"
    },
    "emailOptIn":"BOOLEAN",
    "cardNumber":"INT",
    "cvv":"INT",
    "cardExpiry":"INT",
    "giftaid":"BOOLEAN"
 }